@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_CustomLayout</title>
     <link href="~/Content/bootstrap.css" rel="stylesheet"/>    
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div>
        <div class="container">
         <div class="banner">
            <div class="container">
                <div>
                    <h1 style="font-family:'Monotype Corsiva'">Dear Diary</h1>
                </div>
                <div>
                <h5 style="font-family:Calibri">
                    Lock your feelings, share your thoughts :)<br />
                </h5>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
         <ul class="nav navbar-nav " style="margin-left:25px" >
             
             
             
             <li role="presentation" class="active" ><a href="/Client/Index" style="font-family:Calibri ;font-size:medium">Home</a></li>
             <li role="presentation" ><a href="/Client/About" style="font-family:Calibri ;font-size:medium">About</a></li>
             <li role="presentation" ><a href="/Client/OpenDiary" style="font-family:Calibri ;font-size:medium">Your Diary</a></li>
             <li role="presentation" ><a href="/Client/NewsFeed" style="font-family:Calibri ;font-size:medium">News Feed</a></li>
             <li role="presentation" ><a href="/Client/ContactUs" style="font-family:Calibri ;font-size:medium">Contact us</a></li>
             
             
             
         </ul>
        <ul class="nav navbar-nav navbar-right" style="margin-right:25px">
            <li><a href="/Home/Index" style="font-family:Calibri ;font-size:medium"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
             </div>
            
        </nav>
    </div>
    @RenderBody()
    </div>
</body>
</html>
