@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<!Doctype HTML>
<html>
    <head>
        <title>About</title>
   
    </head>
    <body>
           <div class="container">
            <br />
            <br />
            <div class="row">
                <div class="container">
                <div class="column-md-2 navbar-left">
                    <img src="~/Image/dairy.jpg" />
                </div>
                    
                
                <div style="margin-left:10px" class="col-lg-5 col-sm-8 col-xs-12">
                    <h3 style="font-family:'Monotype Corsiva';margin-left:10px"><span class="glyphicon glyphicon-pencil"></span> About Dear Diary</h3>
                     <p style="font-size:small">
                         
                        Dear Diary is an Online Portal where you can write your day-to-day experience. It will enclose all your words, feelings and thoughts on a single platform. 
                        It's purpose is to keep every person specific material safe and secure. So that everyone can write down his\her emotions without any hesitation.
                        It provides you an environment where you can lock you feelings.
                             
                    </p>
            
                </div>
                    </div>
                   
                
            </div>
        </div>
    </body>
</html>
